<ul id="menu">
  {{#each food in controller}}
    <li>
      <a href="#" {{action "addFood" food}}>
        <img {{ bindAttr src="food.imageUrl" }}>
        <p>{{ food.name }}</p>
      </a>
    </li>
  {{/each}}
</ul>
